<!doctype html>
<html>
<head>
    <title>{{resultSummary.issues.totalErrors}} issues found for {{request.url}}</title>
    <style>
    td.err { width: 30%; }
    pre { white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;}
    code { font-family: Courier, 'New Courier', monospace; font-size: 12px;}
    </style>
</head>
<body>
<h1>Test Results</h1>

<div class="results-data">
    <div class="total-count">
        <h3 id="results-title"><span>{{resultSummary.issues.totalErrors}}</span> <span>issues found for</span> <a href="{{request.url}}">{{request.url}}</a></h3>
    </div>
    <div class="time-label"><span>Processed in </span><span class="time-data"><span>{{responseExecTime}}</span><span>sec</span></span></div>
    <div class="screen-label"><span>Screen Size: </span><span class="screen-data"><span>{{request.viewport.width}}</span><span>w x </span><span>{{request.viewport.height}}</span><span>h</span></span></div>
    <div class="filesize-label"><span>Page size: </span><span class="filesize-data"><span>{{documentSize}}</span><span>kb</span></span></div>
    <div class="score">
        <ul id="scoreList" class="score-list" aria-live="polite">
            <li class="passing-count"><span class="text-success">{{resultSummary.tests.total}}</span><span> total</span></li>
            <li class="failing-count"><span class="text-danger">{{resultSummary.issues.totalErrors}}</span><span> errors</span></li>
            <li class="warning-count"><span class="text-warning">{{resultSummary.issues.totalWarnings}}</span><span> warnings</span></li>
        </ul>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th class="id" scope="col">ID</th>
            <th class="err" scope="col">Error</th>
            <th class="description" scope="col">Description</th>
            <th class="metadata" scope="col">Metadata</th>
        </tr>
    </thead>
    <tbody>
        {{#resultSet}}
        <tr class="test-result">
            <th class="id" scope="row">{{tID}}</th>
            <td class="err">
                <pre class="language-markup xml"><code class="xml">{{errorSnippet}}</code></pre>
            </td>
            <td class="description">
                <p class="title">{{errorTitle}}</p>
                <p class="description">{{description}}</p>
            </td>
            <td class="metadata">
                <p class="priority">Priority: <em>{{priority}}%</em></p>
                <p class="line-count">Location: <em>(line: {{position.line}}, col: {{position.column}})</em></p>
                <ul class="spec">
                    {{#standards}}
                    <li>{{.}}</li>
                    {{/standards}}
                </ul>
                {{#isStored}}
                    <a class="best-practice" href="https://tenon.io/api/results.php?responseID={{request.responseID}}">Recommended Fix</a>
                {{/isStored}}
            </td>
        </tr>
        {{/resultSet}}
    </tbody>
</table>
</body>
</html>
