<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{resultSummary.issues.totalErrors}} issues found for {{request.url}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <style>
    .id { width: 2%; }
    .error { width: 50%; }
    .result { margin-bottom: 2.5em; }
    .line-count { float: right; }
    </style>
</head>
<body>
    <div class="container">
        <h1>Test Results</h1>

        <div class="results-data">
            <h2 id="results-title"><span class="total-errors">{{resultSummary.issues.totalErrors}}</span> issues found for <a href="{{request.url}}">{{request.url}}</a></h2>
            <div class="time-label">Processed in <span class="time-data">{{responseExecTime}} sec</span></div>
            <div class="screen-label">Screen Size: <span class="screen-data">{{request.viewport.width}}</span>w x <span class="screen-data">{{request.viewport.height}}</span>h</div>
            <div class="filesize-label">Page size: <span class="filesize-data">{{documentSize}}</span></div>
            <div class="score">
                <ul id="scoreList" class="score-list" aria-live="polite">
                    <li class="passing-count"><span class="text-success">{{resultSummary.tests.total}}</span> total</li>
                    <li class="failing-count"><span class="text-danger">{{resultSummary.issues.totalErrors}}</span> errors</li>
                    <li class="warning-count"><span class="text-warning">{{resultSummary.issues.totalWarnings}}</span> warnings</li>
                </ul>
            </div>
        </div>

        <h2>Detailed test results</h2>
        <ul class="result-details list-unstyled">
        {{#resultSet}}
            <li class="result">
                <p class="title h3"><span class="id">Test {{tID}}.</span> {{errorTitle}}</p>
                <p class="description">{{description}}</p>
                <pre><code class="html">{{errorSnippet}}</code></pre>
                <p class="line-count">Location: <em>(line: {{position.line}}, col: {{position.column}})</em></p>

                <p class="priority">Priority: <em>{{priority}}%</em></p>
                <ul class="spec">
                    {{#standards}}
                    <li>{{.}}</li>
                    {{/standards}}
                </ul>
                {{#isStored}}
                    <a class="best-practice" href="https://tenon.io/api/results.php?responseID={{request.responseID}}">Recommended Fix</a>
                {{/isStored}}
            </li>
        {{/resultSet}}
        </ul>
    </div>
</body>
</html>
